<div id="left">
  <%# top %>
  <div id="controls">
    <div>
      <h1>Enable fetishes</h1>
      <div>
        <label>
          <input type="checkbox">
          <span>One</span>
        </label>

        <label>
        <input type="checkbox">
        <span>Two</span>
      </label>
      </div>
    </div>
  </div>

  <%# bottom %>
  <div>
    <a onclick="openCurrentMedia()">Open In E621</a>
  </div>
</div>