<main class="container two-col">
  <aside>
    <article>
      <header>Login</header>
      <%= turbo_frame_tag @session do %>
        <%= render 'sessions/form', session: @session %>
      <% end %>
    </article>
  </aside>
</main>